<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xdtpl.smartgovtcalender">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_logo_2023"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/smart_logo_2023"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ImpDocFiles" />
        <activity
            android:name=".SplashWindowActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewPDFActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReportActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TABillActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WebLinkActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewTaBillPDFActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HolidaysListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TABillGenerteReports"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".DonationActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UserManualActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TitleSponsorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SponsorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Medicalbill"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>